<footer>
    <div class="footer">
        <div class="social">
          <i class="fab fa-instagram"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-facebook"></i>
  
        </div>
        <div class="she">@sheStay</div>
        <div class="link">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>